body {
  margin: 0;
}

.app_background {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #001e2b;
  padding: 20px;
  height: 100vh;
}

.background_light {
  /* palette.gray.light3 */
  background: #f9fbfa;
}

.background_dark {
  /* palette.black */
  background: #001e2b;
}

.controls_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 450px;
}

.main_content {
  max-width: 880px;
  min-width: 315px;
  width: 100%;
  flex-grow: 1;
}

.streaming_toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
