body {
  margin: 0;
}

.app_background {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background: #001e2b; */
  background: #2a003c;
  padding: 20px;
  height: 100vh;
}

.main_content {
  max-width: 750px;
  min-width: 315px;
  width: 100%;
  flex-grow: 1;
}
