.disclosure {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.disclosure > p {
  color: white;
}

.basic_banner {
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background: #e1f7ff;
}

.lg_banner {
  /* 32px == padding on the LeafyGreen <Banner> component */
  width: calc(100% - 32px);
}

.chatbot_container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_content {
  width: 100%;
}

.card_content_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: -1rem; /* We don't want the flex gap after the title, so this cancels it out */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding-top: 1rem;
  transition: all 0.25s ease;
  position: relative;
  padding: 0;
  border-top-left-radius: 6px;
  box-shadow: none;
  background: transparent;
  max-width: 850px;
}

.card-enter {
  padding: 24px;
  box-shadow: 0 4px 10px -4px rgba(0, 30, 43, 0.3);
  background: white;
  border-radius: 24px;
  border-top-left-radius: 6px;

  width: 100%;
}

.card-enter-active {
  opacity: 1;
  transition: all 250ms ease;
  box-shadow: 0 4px 10px -4px rgba(0, 30, 43, 0.3);
  background: white;
  border-radius: 24px;
  border-top-left-radius: 6px;

  width: 100%;

  /* This simulates padding in <Box /> to make it more like <Card /> */
  /* When/if you can fix the <Card /> ref issue you can delete this. */
  padding: 24px;
}

.card-exit {
  border-top-left-radius: 6px;
}

.card-exit-active {
  transition: all 100ms ease;
  border-radius: 6px;

  /* Undo @leafygreen-ui/card styles for unfocused state */
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.input {
  transition: all 0.5s ease;
}

.awaiting_response_loader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
