.disclosure {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.disclosure > p {
  color: white;
}

.chatbot_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatbot_container * {
  box-sizing: border-box;
}

.chatbot_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.conversation_id_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_bar {
  box-sizing: border-box;
  margin-bottom: -1rem; /* This is to offset the .card gap */

  width: calc(100% + 64px);
  margin-left: -32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal_container {
  z-index: 2;
}

.modal_container * {
  box-sizing: border-box;
}

.modal_container div[role=dialog] {
  padding-top: 8px;
  background: #F9FBFA; /* This is "gray light3" from @leafygreen-ui/palette */
}

.message_feed {
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-bottom: -1rem; /* This is to offset the .chat_input margin-top */
}

.message_feed > div {
  box-sizing: border-box;
  height: 60vh;
}

.message div {
  white-space: normal;
}

.message_rating {
  margin-top: 1rem;
}

.loading_skeleton {
  margin-bottom: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  transition: all 0.25s ease;
  position: relative;
  padding: 0;
  border-top-left-radius: 6px;
  box-shadow: none;
  background: transparent;
  box-sizing: border-box;
}

.markdown-container {
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .modal_container div[role=dialog] {
    width: 100%;
  }

  .modal_container > div {
    padding: 32px 18px;
  }

  .message_feed > div {
    max-height: 70vh;
  }
}

@media screen and (max-width: 767px) {
  .message_feed > div {
    height: 65vh;
  }
}
