.message {
  display: flex;
  flex-direction: row;
}

.message_avatar {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  flex: none;
  position: relative;
}

.message_avatar_user {
  background: white;
}

.message_avatar_assistant {
  background: black;
}

.message_avatar_system {
  background: black;
}

.message_avatar_icon_container {
  padding-top: 6px;
}
.message_avatar_icon {
  position: absolute;
  left: 12px;
  top: 12px;
}

.message_text {
  padding: 0.5rem 0.5rem 0px 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.message_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  width: 100%;
}

.message_rating > p {
  line-height: 28px;
}

.message_rating_icon {
}
