.message_list {
  display: flex;
  flex-direction: column;
  max-height: 550px;
  overflow-y: scroll;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.message_list_item {
  display: flex;
  flex-direction: row;
}

/* width */
.message_list::-webkit-scrollbar {
  width: 0.25rem;
  background: #d9d9d9;
}

/* Track */
.message_list::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.message_list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.message_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
