.prompts_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.prompts_container_header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: left;
}

.prompt {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.prompt:hover {
  cursor: pointer;
  background: #e1f7ff;
}
