openapi: 3.1.0
info:
  title: Docs AI Chat API
  version: 1.0.0
  license:
    name: TBD
    url: TBD
servers:
  - url: http://knowledge.mongodb.com/api/v1
security:
  - ApiKeyAuth: []
paths:
  /conversations:
    post:
      operationId: createConversation
      summary: Start a new conversation
      description: |
        **NOTE:** Captures user IP address.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        400:
          $ref: "#/components/responses/BadRequest"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/InternalServerError"

  # ~~~ OUT OF SCOPE FOR MVP ~~~
  # /conversations/{conversationId}:
  #   get:
  #     operationId: getConversation
  #     summary: Get a conversation
  #     parameters:
  #       - $ref: "#/components/parameters/conversationId"
  #     responses:
  #       200:
  #         description: OK
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Conversation'
  #       400:
  #         $ref: '#/components/responses/BadRequest'
  #       404:
  #         $ref: '#/components/responses/NotFound'
  #       500:
  #         $ref: '#/components/responses/InternalServerError'
  #   delete:
  #     operationId: deleteConversation
  #     summary: Delete a conversation
  #     parameters:
  #       - $ref: "#/components/parameters/conversationId"
  #     responses:
  #       204:
  #         description: Deleted
  #       400:
  #         $ref: '#/components/responses/BadRequest'
  #       404:
  #         $ref: '#/components/responses/NotFound'
  #       500:
  #         $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/messages:
    post:
      operationId: addMessage
      summary: Send a message to the conversation
      parameters:
        - $ref: "#/components/parameters/conversationId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        400:
          $ref: "#/components/responses/BadRequest"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/InternalServerError"

  # ~~~ OUT OF SCOPE FOR MVP ~~~
  # /conversations/{conversationId}/messages/{messageId}:
  #   get:
  #     operationId: getMessage
  #     summary: Get a message
  #     parameters:
  #       - $ref: "#/components/parameters/conversationId"
  #       - $ref: "#/components/parameters/messageId"
  #     responses:
  #       200:
  #         description: Ok
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Message'
  #       400:
  #         $ref: '#/components/responses/BadRequest'
  #       404:
  #         $ref: '#/components/responses/NotFound'
  #       500:
  #         $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/messages/{messageId}/rating:
    post:
      operationId: rateMessage
      summary: Rate a message
      parameters:
        - $ref: "#/components/parameters/conversationId"
        - $ref: "#/components/parameters/messageId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageRating"
      responses:
        204:
          description: Rating Saved
        400:
          $ref: "#/components/responses/BadRequest"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    Conversation:
      type: object
      required:
        - _id
        - messages
        - createdAt
      properties:
        _id:
          type: string
          description: The unique identifier for a conversation.
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        createdAt:
          type: integer
          description: Unix timestamp for when the conversation was created.
    Message:
      type: object
      required:
        - id
        - role
        - content
        - createdAt
      properties:
        id:
          type: string
          description: The unique identifier for a message.
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
          format: markdown
          description: |
            Markdown-formatted response to user's chat message in the context
            of the conversation.
        rating:
          type: boolean
          description: |
            Set to `true` if the user liked the response, `false` if the user didn't like the response.
            No value if user didn't rate the response.
            Note that only messages with `role: "assistant"` can be rated.
        createdAt:
          type: integer
          description: |
            Unix timestamp for when the message was sent.
    MessageRating:
      type: object
      properties:
        rating:
          type: boolean
    ErrorResponse:
      type: object
  parameters:
    conversationId:
      name: conversationId
      required: true
      in: path
      schema:
        type: string
      description: The unique identifier for a conversation.
    messageId:
      name: messageId
      required: true
      in: path
      schema:
        type: string
      description: The unique identifier for a message.
